body {
    display: flex;
    flex-direction: column;
}

.error-inv {
    visibility: hidden;
}

.error-input {
    visibility: visible;
    color: red;
}

/*    #email-error {
    visibility: hidden;
}

.error-input {
    visibility: flex;
    color: red;
}*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(55, 56, 103, 0.4);
    height: 100%;
    padding: 50px 0 150px;
    margin-top: 90px;
    margin-bottom: 104px;
}

h1 {
    margin: 20px 0;
    color: #373867;
    text-transform: capitalize;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5%;
    border-radius: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 250px;
    margin: 5%;
    text-align: left;
}

input {
    flex-basis: 40px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #373867;
    border-radius: 4px;
}

#submit {
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    color: #373867;
}