<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
    <header>
        <button class="nav-bar"><img src="../assets/icons/burger-button.jpg" alt="burger-button"></button>
        <img src="../assets/icons/Interface-Security-Shield-5.png" alt="logo">
        <a href="../views/sign-up.html">
            <button class="sign-up-button">Sign Up</button>
        </a>
    </header>
    <main>
        <div class="container">
            <div class="form-container">
                <h1 class="h1">Log in</h1>
                <form novalidate>
                    <div class="form-data">
                        <label for="email" class="heading-2">Email</label>
                        <input id="email" type="email" name="email" placeholder="your@email.com"> 
                    </div>
                    <div class="form-data">
                        <label for="password" class="heading-2">Password</label>
                        <input id="password" type="password" name="password" placeholder="Password">    
                    </div>
                    <input id="submit" type="submit" value="Log in" class="h2">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <ul>
            <li><a href="#"><img src="../assets/icons/linkedin.svg" alt="Linkedin"></a></li>
            <li><a href="#"><img src="../assets/icons/twitter.svg" alt="Twitter"></a></li>
            <li><a href="#"><img src="../assets/icons/facebook.svg" alt="Facebook"></a></li>
            <li><a href="#"><img src="../assets/icons/instagram.svg" alt="Instagram"></a></li>
            <li><a href="#"><img src="../assets/icons/githab.svg" alt="GitHub"></a></li>
        </ul>
        <address>Rosario, Argentina.</address>
        <address>Copyright &copy; 2022 Trackgenix S.A. All rights reserved.</adress>    
    </footer>
</body>
</html>