body {
  color: #373867;
  font-family: Roboto, Arial; 
  font-size: 20px;
}

header {
  position: fixed;
  width: 100%;
  height: 91px;
  top: 0px;
  background-color: #373867;
  text-align: center;
}

aside {
  position: fixed; 
  width: 308px;
  height: 832px;
  left: 0px;
  top: 0px;
  margin-top: 91px;
  margin-bottom: 104px;
  background-color: #AACE9B;
}

footer {
  position: fixed;
  width: 100%;
  height: 104px;
  bottom: 0;
  background-color: #373867;
  text-align: center;
}

main {
  width: 100%;
  height: 835px;
  margin-top: 90px;
  padding-left: 308px;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 835px;
  background-color: aquamarine;
  border-top: ;
}

h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
}

#home {
  background-image: url(../images/Celphone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}