/* footer {
    display: flex;
    position: fixed;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 104px;
    bottom: 0;
    background-color: #373867;
    text-align: center;
}

footer ul{
    display: flex;
}

footer address{
    color: red;
} */