body{
  background-color: #fff;
  font-family: Roboto, monospace;
  color: #373867;
}

h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  margin: 61px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 26px;
}

#web-container{
  width: 1440px;
  margin: 0px auto;
  border: 1px solid black;
}

header{
  position: fixed;
  background: #373867;
  width: 100%;
  height: 91px;
  top: 0px;
  margin: 0px;
  text-align: center;
  line-height: 91px;
}

nav{
  position: fixed;
  background-color: #AACE9B;
  width: 300px;
  height: 835px;
  top: 91px;
}

footer{
  position: fixed;
  background: #373867;
  color:  #AACE9B;
  width: 100%;
  height: 104px;
  bottom: 0px;
  text-align: center;
  line-height: 104px;
}

footer ul li{
  display: inline;
  text-align: center;
  float: left;
  opacity: 0.5;
  padding: 5px;
}

#main-content{
  width: 1140px;
  margin-top: 90px;
  margin-left: 300px;
  text-align: center;
}

.section{
  width: 100%;
  height: 835px;
  border-bottom: solid;
  border-width: 60px;
  border-color: #49A37B;
}

.gray-text{
  font-size: 30px;

}

#home {
  background-image: url(../images/Celphone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}