
body{
    font-family: Roboto, Arial;
    background-color: gray;
    color: #373867;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    background-color: blue;
    overflow: hidden;
}

/*
h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
}
  
h2{
    font-weight: 700;
    font-size: 40px;
    font-style: bold;
}
  
h3{
    font-weight: 700;
    font-size: 26px;
}
*/
/*
img {
    width: 5%;
}
  */
  
  img.clock{
      width: 30px;
  }