body{
  background-color: #fff;
  font-family: Roboto, monospace;
}

#web-container{
  width: 1440px;
  margin: 0px auto;
  border: 1px solid black;
}

header{
  position: fixed;
  background: #373867;
  width: 100%;
  height: 91px;
  top: 0px;
  margin: 0px;
  text-align: center;
  line-height: 91px;
}

footer{
  position: fixed;
  background: #373867;
  color:  #AACE9B;
  width: 100%;
  height: 104px;
  bottom: 0px;
  text-align: center;
  line-height: 104px;
}

footer ul li{
  display: inline;
  text-align: center;
  float: left;
  opacity: 0.5;
  padding: 5px;
}

nav{
  background-color: #AACE9B;
  width: 300px;
  height: 835px;
}
